.DS_Store
Thumbs.db
Desktop.ini

.vs/
.vscode/
.idea/
*.user
*.userprefs
*.suo
*.sln.docstates

*.csproj
*.sln
*.unityproj
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
[Oo]bj/
[Bb]in/
[Tt]emp/
[Ll]ogs/

*.log
*.tmp
*~
!Rasterizer/RasterizerSource~/
!Rasterizer/RasterizerSource~/**
!Rasterizer/Native~/
!Rasterizer/Native~/**
*.csx
_tmp*
_comments_inventory.txt
